<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
   <description>DemoApp</description>

   <display-name>Induction - DemoApp</display-name>

   <servlet>
       <description>Induction - Demo Application</description>
       <display-name>DemoApp</display-name>
       <servlet-name>demoapp</servlet-name>
       <servlet-class>com.acciente.induction.dispatcher.HttpDispatcher</servlet-class>
<!--
       <init-param>
           <param-name>demoapp.config-loader-class</param-name>
           <param-value>com.acciente.test.induction.config.TestConfig_DemoApp</param-value>
       </init-param>
-->
       <load-on-startup>0</load-on-startup>
   </servlet>

   <servlet-mapping>
       <servlet-name>demoapp</servlet-name>
       <url-pattern>/*</url-pattern>
   </servlet-mapping>

   <session-config>
        <session-timeout>30</session-timeout>
   </session-config>

</web-app>
